{% extends "partials/auth.html" %}
{% load static %}
{% block title %}Log In to FideleFinance - Access Your Trading Dashboard{% endblock title %}
{% block content %}
<!-- [Body] Start -->

<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-direction="ltr" data-pc-theme_contrast="" data-pc-theme="light">
  <!-- [ Pre-loader ] start -->
  <div class="loader-bg">
    <div class="loader-track">
      <div class="loader-fill"></div>
    </div>
  </div>
  <!-- [ Pre-loader ] End -->

  <div class="auth-main">
    <div class="auth-wrapper v2">
      <div class="auth-sidecontent">
        <img src="{% static 'assets/images/cryptochart.jpg' %}" alt="images"
          class="img-fluid img-auth-side">
      </div>
      <div class="auth-form">
        <div class="card my-5">
          <div class="card-body">
            <div class="text-center mb-3">
              <a href="/"><img src="{% static 'assets/logo/bluelogo.png' %}" style="height: 32px; width: 210px;" alt="img"></a>
            
              </div>
            </div>
            
            <h4 class="text-center f-w-500 mb-3">Login with your email</h4>
            <div id="message-container">
            
            </div>
        
            <form id="login-form" method="POST">
              {% csrf_token %}
              <div class="form-group mb-3">
                <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email Address">
              </div>
              <div class="form-group mb-3">
                <input type="password" name="password" class="form-control" id="floatingInput1" placeholder="Password">
              </div>
              <div class="d-flex mt-1 justify-content-between align-items-center">
                <div class="form-check">
                  <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="">
                  <label class="form-check-label text-muted" for="customCheckc1">Remember me?</label>
                </div>
                <h6 class="text-secondary f-w-400 mb-0"><a  href="/user/forgot-password/">Forgot Password?</a></h6>
              </div>
              <div class="d-grid mt-4">
                <button type="submit" id="loginBtn" class="btn btn-primary">Login</button>
              </div>
            </form>
            <div class="d-flex justify-content-between align-items-end mt-4">
              <h6 class="f-w-500 mb-0">Don't have an Account?</h6>
              <a href="/user/sign-up" class="link-primary">Create Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    setTimeout(() => {
      const alerts = document.querySelectorAll('.alert');
      alerts.forEach(alert => {
          alert.parentNode.removeChild(alert); // Removes the alert from the DOM
      });
    }, 5000);  
    const form = document.getElementById('login-form');
    const messageContainer = document.getElementById('message-container');
    const submitButton = document.getElementById('loginBtn');

    form.addEventListener('submit', async (e) => {
        e.preventDefault(); // Prevent the form from reloading the page
        submitButton.disabled = true;
        submitButton.innerHTML = `
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Submitting...
        `;
        // Collect form data
        const formData = new FormData(form);

        try {
            const response = await fetch(form.action, {
                method: 'POST',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest', // Indicate it's an AJAX request
                },
                body: formData
            });

            const data = await response.json();

            // Clear previous messages
            messageContainer.innerHTML = '';

            if (data.success) {
                // Display success message
                const successMessage = document.createElement('div');
                successMessage.className = 'alert alert-success';
                successMessage.innerHTML = '<strong>' + data.message + '</strong>';
                messageContainer.appendChild(successMessage);
                submitButton.disabled = false;
                submitButton.innerHTML = `
                    
                    Sign up
                `;

                // Optional: Redirect or clear the form
                form.reset();
                window.location.href = data.redirect_url;
            } else {
                // Display error messages
                data.errors.forEach(error => {
                    submitButton.disabled = false;
                    submitButton.innerHTML = `
                        
                        Sign up
                    `;
                    const errorMessage = document.createElement('div');
                    errorMessage.className = 'alert alert-danger';
                    errorMessage.innerHTML = '<strong>' + error + '</strong>';
                    messageContainer.appendChild(errorMessage);
                });
            }

            // Remove messages after 5 seconds
            setTimeout(() => {
                messageContainer.innerHTML = '';
            }, 5000);

        } catch (err) {
            console.error('Error submitting the form:', err);
        }
    });          
  </script> 
  <!-- [ Main Content ] end -->
  <!-- Required Js -->
  <script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/simplebar.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/fonts/custom-font.js' %}"></script>
  <script src="{% static 'assets/js/pcoded.js' %}"></script>
  <script src="{% static 'assets/js/htmx.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/feather.min.js' %}"></script>

  
  
  
  
  <script>layout_change('light');</script>
  
  
  
  
  <script>layout_theme_contrast_change('false');</script>
  
  

   <div class="pct-c-btn">
  <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvas_pc_layout">
    <i class="ph-duotone ph-gear-six"></i>
  </a>
</div>
{% endblock content %}